.form__butons {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.form__butons button[type="submit"],
.form__butons .btn-link {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-family: 'Arial';
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.form__butons button[type="submit"] {
    margin-right: 20px;
}