.form{
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
    background-color: rgb(39, 39, 39);
}
.form__box {
    max-width: 400px;
    min-width: 320px;
    margin: 0 auto;
}
.form__box--title, .input-groups {
    padding: 20px;
    margin-bottom: 1.5rem;
    background-color: black;
    color: blanchedalmond;
    border-radius: 7px;
    box-shadow: 0 0 5px black;
}
